<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Real-time chat</title>
  <link rel="stylesheet" href="public/css/global.css" />
  <link rel="stylesheet" href="public/css/chat.css" />
</head>
<body>
  <div class="container">
    <h1>Real-time chat</h1>
    <form name="chat" class="border" autocomplete="off">
      <label for="username"></label>
      <input type="text" name="username" placeholder="Username" id="username" aria-label="username" required />
      <div id="messages"></div>
      <label for="messageContent"></label>
      <textarea name="messageContent" id="messageContent" placeholder="Message" aria-label="messageContent"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="public/js/scripts.js"></script>
</body>
</html>
