h1 {
  text-align: center;
  color: #0053b3;
}

div#messages {
  padding: 5px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  max-height: 50vh;
  overflow: auto;
  margin: 10px auto;
  box-shadow: 1px 1px 3px #ccc, -1px -1px 3px #ccc;
  word-wrap: break-word;
  color: rgba(0, 0, 0, .7);
}

form {
  padding: 5px;
  height: 100%;
  text-align: center;
}

form textarea {
  padding: 12px 0;
  padding-left: 10px;
  min-height: 48px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
}

form textarea {
  resize: vertical;
  font-size: 1.5em;
}

form button {
  height: 48px;
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
}
