* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #e1e1e1;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

div.container,
div.login,
div.register {
  width: 90%;
}

div.container {
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.login,
div.register {
  max-width: 400px;
}

form input,
form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

form input {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1em;
}

form button {
  display: block;
  margin: 20px auto;
  width: 50%;
  font-size: 1.4em;
  font-weight: 500;
  color: #fff;
  background-color: #0070f0;
  cursor: pointer;
}

form button:hover {
  background-color: #0053b3;
}

form p {
  font-size: 0.9em;
  margin-left: 10px;
  margin-bottom: 10px;
}

form p > a {
  text-decoration: none;
  color: #0070f0;
}

form p > a:hover {
  text-decoration: underline;
}